# ML-5333 Project 2 - MLB Data Collection

In [1]:
import pandas as pd
import numpy as np
import baseball_scraper
import pybaseball
import statsapi
import mlbgame

In [2]:
if __name__ == "__main__":

    test = statsapi.schedule(start_date="01/01/2019", end_date="12/31/2019", team=143)
    print(test.columns)

AttributeError: 'list' object has no attribute 'columns'

In [4]:
from pybaseball import schedule_and_record
data = schedule_and_record(2018, "NYY")
data.head()

C:\Users\rylee\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pybaseball\team_results.py:70: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data = data.drop('',1) #not a useful column
C:\Users\rylee\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pybaseball\team_results.py:83: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data = data.drop('Streak2',1)

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
1,"Thursday, Mar 29",NYY,@,TOR,W,6.0,1.0,9.0,1-0,1.0,Tied,Severino,Happ,None,2:51,D,48115.0,1.05,1,None
2,"Friday, Mar 30",NYY,@,TOR,W,4.0,2.0,9.0,2-0,1.0,up 0.5,Tanaka,Sanchez,Chapman,2:49,N,33716.0,1.11,2,None
3,"Saturday, Mar 31",NYY,@,TOR,L,3.0,5.0,9.0,2-1,1.0,Tied,Tepera,Betances,Osuna,2:37,D,37692.0,1.16,-1,None
4,"Sunday, Apr 1",NYY,@,TOR,L,4.0,7.0,9.0,2-2,2.0,1.0,Clippard,Robertson,Oh,3:03,D,29091.0,1.17,-2,None
5,"Tuesday, Apr 3",NYY,Home,TBR,W,11.0,4.0,9.0,3-2,3.0,1.5,Kahnle,Pruitt,None,3:29,D,46776.0,1.10,1,2018-04-02 (Snow)